{% extends 'base.html.twig' %}
{% form_theme registrationform 'bootstrap_4_layout.html.twig' %}
{% block title %} Création compte{% endblock %}

{% block body %}

{{ form_start(registrationform) }}
{{form_widget(registrationform)}}

<button class="btn btn-danger">Créer mon compte!</button>
{{form_end(registrationform)}}


{% endblock %}
