<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ProjetStreetArt!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <h1> Bonjour ! </h1>
          <h1> Bonjour ! </h1>
          <p>lorem ipsum dolor sit amet, consectet</p>
        {% block javascripts %}{% endblock %}
    </body>
</html>
