{% extends 'base.html.twig' %}

{% block title %}Checkout{% endblock %}

{% block body %}
<style>
  footer {
      display: none;
  }
</style>

<div class="alert alert-dismissible alert-info">
  <span class="alert-link">Actuellement indisponible!</span>
</div>

{% endblock %}
